<%= stylesheet_link_tag 'app_proxy' %>

<div class="tryonify-order">
  <h1>Order <%= @return_order[:name] %></h1>

  <% if @shop.return_explainer %>
    <p class="tryonify-return-instructions"><%= @shop.return_explainer %></p>
  <% end %>

  <% if @return_order[:financial_status] == 'PENDING' %>
    <div>Payment due {{ '<%= @return_order[:due_at] %>' | date: '%B %d, %Y' }}</div>
  <% end %>

  <% if @return_order[:fulfillments].length > 0 %>
    <ul class="tryonify-line-items">
      <% @return_order[:fulfillments].each do |fulfillment| %>
        <% line_item = fulfillment[:line_item] %>
        <li class="tryonify-line-item">
          <% if fulfillment[:line_item][:image_url] %>
            <div class="tryonify-thumbnail">
              <img src="<%= line_item[:image_url] %>" alt="<%= line_item[:title] %>" />
            </div>
          <% end %>

          <div class="tryonify-product-details">
            <div>
              <h3 class="tryonify-product-title"><%= line_item[:title] %></h3>
              <%= line_item[:variant_title] %>
            </div>

            <div>
              <b>{{ 'customer.order.quantity' | t }}</b> <%= fulfillment[:quantity] %>
            </div>

            <form class="tryonify-return-form" action="/a/trial/returns" method="POST">
              <input type="hidden" name="order_id" value="<%= @return_order[:id] %>" />
              <input type="hidden" name="fulfillment_line_item_id" value="<%= fulfillment[:id] %>" />
              <input type="number" name="quantity" min="1" value="<%= fulfillment[:quantity] %>" />
              <button class="tryonify-button" type="submit">Return</button>
            </form>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="tryonify-no-fulfillments">No items to return</p>
  <% end %>

  <ul class="tryonify-line-items">
  <% @return_order[:line_items].each do |line_item| %>
    <li class="tryonify-line-item">
      <% if line_item[:image_url] %>
        <div class="tryonify-thumbnail">
          <img src="<%= line_item[:image_url] %>" alt="<%= line_item[:title] %>" />
        </div>
      <% end %>

      <div class="tryonify-product-details">
        <div>
          <h3 class="tryonify-product-title"><%= line_item[:title] %></h3>
          <%= line_item[:variant_title] %>
        </div>

        <div>
          <b>{{ 'customer.order.quantity' | t }}</b> <%= line_item[:quantity] %>
        </div>
      </div>
    </li>
  <% end %>
  </ul>
</div>