<%= turbo_frame_tag line_item do %>
<li class="tryonify-line-item" data-controller="return-line-item">
  <div class="tryonify-product-details">
    <% if line_item.image_url %>
      <div class="tryonify-thumbnail">
        <img src="<%= line_item.image_url %>" alt="<%= line_item.title %>" />
      </div>
    <% end %>

    <div class="tryonify-product-title">
      <h3 ><%= line_item.title %></h3>
      <span><%= line_item.variant_title %></span>
    </div>
  </div>

  <div class="tryonify-return-options">
    <% if fulfillment_line_item_id %>
      <% if !line_item.return_line_item %>
        <div class="tryonify-quantity" data-controller="quantity">
          <b>{{ 'customer.order.quantity' | t }}</b>
          <div class="tryonify-quantity-selector">
            <input type="text" pattern="[0-9]" data-quantity-target="selector" data-return-line-item-target="quantity" data-action="blur->quantity#handleBlur" data-min="1" data-max="<%= quantity %>" value="<%= quantity %>" />
            <input type="text" readonly value="<%= quantity %>" />
          </div>
        </div>

        <div class="tryonify-return-actions" data-return-line-item-target="actions">
          <button
            class="tryonify-button"
            data-action="return-line-item#add"
            data-return-line-item-target="returnButton"
            data-return-line-item-line-item-id-param="<%= line_item.id %>"
            data-return-line-item-fulfillment-line-item-id-param="<%= fulfillment_line_item_id %>"
          >
            Return
          </button>
          <button
            style="display: none;"
            class="tryonify-button"
            data-action="return-line-item#remove"
            data-return-line-item-target="keepButton"
          >
            Keep
          </button>
        </div>
      <% else %>
        <% status = line_item.return_line_item&.return&.status %>
        <% if status == "closed" %>
          <p class="tryonify-return-status tryonify-return-status--success">Return complete</p>
        <% elsif status == "declined" %>
          <p class="tryonify-return-status tryonify-return-status--failure">Return declined</p>
        <% else %>
          <p class="tryonify-return-status">Return in progress</p>
        <% end %>
      <% end %>
    <% else %>
      <p class="tryonify-pending">This item has not been shipped yet.</p>
    <% end %>
  </div>
</li>
<% end %>