{%- assign max_trial_items = app.metafields.settings.maxTrialItems -%}
<div class="tryonify-alert">
  {% if block.settings.max_quantity_text == '' %}
    Only {{ max_trial_items }} trial items allowed in cart
  {% else %}
    {{ block.settings.max_quantity_text }}
  {% endif %}
</div>
<script>
  window.tryonify = window.tryonify || {
    maxTrialItems: {{ max_trial_items }},
    currentTrialQuantity: 0,
    currentTrialQuantityText: "{{ block.settings.current_trial_quantity_text | default: "%d of % trial products chosen"}}"
  }
</script>
<style>
  .tryonify-alert {
    background-color: {{ block.settings.alert_background_color }};
  }
</style>
{% schema %}
{
  "name": "TryOnify Features",
  "target": "body",
  "javascript": "app.js",
  "stylesheet": "app.css",
  "settings": [
    {
      "type": "text",
      "id": "current_trial_quantity_text",
      "label": "Current trial quantity text",
      "default": "%d of %d trial products chosen",
      "info": "Use %d as placeholders for trial count. The first %d is the current trial quantity and the second is the max trial quantity."
    },
    {
      "type": "text",
      "id": "max_quantity_text",
      "label": "Max quantity alert text"
    },
    {
      "type": "color",
      "id": "alert_background_color",
      "label": "Alert background color",
      "default": "#ff0000"
    }
  ]
}
{% endschema %}