{% liquid
  assign cart_trial_items = 0

  for item in cart.items 
    if item.selling_plan_allocation
      assign cart_trial_items = cart_trial_items | plus: item.quantity
    endif
  endfor
%}
<div>
  {% for selling_plan_group in product.selling_plan_groups %}
    <div class="tryonify-selling-plan-group">
      {% if selling_plan_group.app_id == "tryonify" %}
        {% for selling_plan in selling_plan_group.selling_plans %}
          <label class="tryonify-selling-plan {% if cart_trial_items >= app.metafields.settings.maxTrialItems %}tryonify-selling-plan--disabled{% endif %}" for="tryonify-{{ selling_plan.id }}">
            <div class="tryonify-selling-plan-row">
              <div class="tryonify-selling-plan-option-wrapper">
                <input id="tryonify-{{ selling_plan.id }}" class="tryonify-selling-plan-option" type="radio" name="selling_plan_{{ selling_plan_group.id }}" value="{{ selling_plan.id }}" {% if cart_trial_items >= app.metafields.settings.maxTrialItems %}disabled{% endif %} autocomplete="off" />
              </div>
              <div class="tryonify-selling-plan-name">
                {{ selling_plan.name }}
              </div>
              {% if selling_plan.checkout_charge.value > 0 %}
                <div class="tryonify-selling-plan-option-charge">{{ selling_plan.checkout_charge.value | money }}</div>
              {% endif %}
            </div>
            <p class="tryonify-selling-plan-description">{{ selling_plan.description }}</p>
          </label>
        {% endfor %}
        <label class="tryonify-selling-plan tryonify-selling-plan--default" for="tryonify-no-{{ selling_plan_group.id }}">
          <div class="tryonify-selling-plan-row">
            <div class="tryonify-selling-plan-option-wrapper">
              <input id="tryonify-no-{{ selling_plan_group.id }}" class="tryonify-selling-plan-option" type="radio" name="selling_plan_{{ selling_plan_group.id }}" checked value="" autocomplete="off" />
            </div>
            <div class="tryonify-selling-plan-name">
              Buy Now
            </div>
          </div>
        </label>
      {% endif %}
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Trial Offers",
  "templates": ["product"],
  "target": "section",
  "stylesheet": "styles.css",
  "javascript": "add-plan.js",
  "settings": []
}
{% endschema %}